[MESSAGES CONTROL]

disable=bare-except,broad-exception-caught,too-many-arguments,too-many-locals,too-few-public-methods,unnecessary-lambda-assignment,imported-auth-user,missing-function-docstring,missing-class-docstring,missing-module-docstring