<div id="nav-menu" class="nav-menu" style="display: none;">
  <div
    class="nav-shadow"
    hx-on:click="setCssById('nav-menu', { display: 'none' })"
  ></div>
  <div class="nav-menu-container nav-menu-size">
    <div class="nav-menu-header">
      <h1 class="nav-menu-header-text text-title">Menu</h1>
    </div>
    <menu class="nav-menu-list">
      <div class="nav-menu-link-container">
        <a class="nav-menu-link text-subtitle" href="/posts">
          Posts
        </a>
      </div>
      <div class="nav-menu-divider"></div>
      <div class="nav-menu-link-container">
        <a class="nav-menu-link text-subtitle" href="/lights">
          Lights
        </a>
      </div>
      <div class="nav-menu-divider"></div>
      <div class="nav-menu-link-container">
        <a class="nav-menu-link text-subtitle" href="/stocks">
          Stocks
        </a>
      </div>
      <div class="nav-menu-divider"></div>
      <div class="nav-menu-link-container">
        <a class="nav-menu-link text-subtitle" href="/settings">
          Settings
        </a>
      </div>
      <div class="nav-menu-divider"></div>
    </menu>
  </div>
</div>