body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.inline-indicator {
  display: none;
}

.htmx-request .inline-indicator {
  display: inline;
}

.htmx-request.inline-indicator {
  display: inline;
}

.block-indicator {
  display: none;
}

.htmx-request .block-indicator {
  display: block;
}

.htmx-request.block-indicator {
  display: block;
}

.htmx-request .submit-button {
  background-color: gray
}

.htmx-request.submit-button {
  background-color: gray
}

.text-title {
  font-size: 32px;
  font-weight: bold;
}

.text-subtitle {
  font-size: 20px;
}

.text-body {
  font-size: 16px;
}

.text-caption {
  font-size: 14px;
}

.button-primary {
  background-color: cornflowerblue;
  color: white;
  padding: 12px 16px;
  border-radius: 8px;
}

.button-secondary {
  background-color: white;
  color: black;
  padding: 12px 16px;
  border: solid gray 1px;
  border-radius: 8px;
}

.button-destructive {
  background-color: red;
  color: white;
  padding: 12px 16px;
  border-radius: 8px;
}

.button-fab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 99px;
  background-color: cornflowerblue;
}