.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 12px 16px;
  background-color: cornflowerblue;
}

.nav-bar-left {
  flex: 1;
  display: flex;
  justify-content: left;
}

.nav-bar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-bar-right {
  flex: 1;
  display: flex;
  justify-content: right;
}

.nav-bar-text {
  color: white;
}

.nav-bar-title {
  font-size: 20px;
  font-weight: bold;
}

.nav-bar-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar-logout-button {
  padding-top: 12px;
  padding-bottom: 12px;
}
