[Unit]
Description=wsgi service
Requires=app.socket
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/app
EnvironmentFile=/home/pi/app/.env
ExecStart=/home/pi/app/.venv/bin/gunicorn \
    --chdir ./src/ \
    --bind unix:/run/app.sock \
    main.wsgi:application

[Install]
WantedBy=multi-user.target
