server {
  listen 80;
  server_name ip_address;
  charset utf-8;
  client_max_body_size 10M;

  location /static {
    alias /home/pi/app/src/static;
  }

  location / {
    include uwsgi_params;
    uwsgi_pass unix:/home/pi/app/app.sock;
  }
}