.post-list-container {
  padding: 12px;
}

.post-list-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

@media (max-width: 599px) {
  .post-outer {
    width: 100%;
  }
}

@media (min-width: 600px) {
  .post-outer {
    width: 600px;
  }
}

.post-inner {
  padding: 12px;
  background-color: lightgray;
  border-radius: 8px;
}

.post-create-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.post-create-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: cornflowerblue;
}

.post-header {
  display: flex;
  margin-bottom: 8px;
}

.post-title {
  flex: 1;
}

.post-header-button-row {
  display: flex;
  gap: 6px;
}

.post-edited {
  color: dimgray;
}

.create-post-header {
  margin-bottom: 8px;
  font-weight: bold;
}

.create-post-textarea-container {
  margin-bottom: 12px;
}

.create-post-textarea {
  width: 100%;
  box-sizing: border-box;
  resize: none;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
}

.post-button-row {
  display: flex;
}

.post-button-row-small {
  display: flex;
  gap: 6px;
}

.post-left-button-container {
  width: 50%;
  padding-right: 6px;
}

.post-right-button-container {
  width: 50%;
  padding-left: 6px;
}

.post-button {
  width: 100%;
}

.post-button-small {
  width: 60px;
  padding: 4px 2px;
}