{% extends 'base_page.html' %}

{% load static %}

{% block title %}
  Login
{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/accounts/login_page.css' %}">
{% endblock %}

{% block body %}
  <main class="login-outer">
    <div class="login-inner">
      <h1 class="text-title login-title">Welcome!</h1>
      <form
        hx-post="{% url 'accounts:api-login' %}"
        hx-swap="none"
        hx-on::before-request="
          updateById('login-error', { text: '', style: { display: 'none' } });
          updateById('login-button', { text: 'Loading...', enabled: false });
        "
        hx-on::after-request="updateById('login-button', { text: 'Log In', enabled: true });"
        hx-on::response-error="
          updateById('login-error', {
            text: event.detail.xhr.responseText,
            style: { display: 'block' },
          });
        "
      >
        {% csrf_token %}
        <div>
          <div class="login-label text-caption">
            <label for="username-input">Username</label>
          </div>
          <div class="login-input-container">
            <input
              id="username-input"
              class="text-body login-input"
              name="username"
              type="text"
              placeholder="Username"
              autocomplete="off"
              autocapitalize="off"
            >
          </div>
        </div>
        <div>
          <div class="login-label text-caption">
            <label for="password-input">Password</label>
          </div>
          <div class="login-input-container">
            <input
              id="password-input"
              class="text-body login-input"
              name="password"
              type="password"
              placeholder="Password"
              autocomplete="off"
              autocapitalize="off"
            >
          </div>
        </div>
        {% if request.GET.next %}
          <input
            type="hidden"
            name="next"
            value="{{ request.GET.next }}"
          >
        {% endif %}
        <div class="login-button-container">
          <button
            id="login-button"
            class="button-primary submit-button login-button"
            type="submit"
          >
            Log In
          </button>
        </div>
        <div
          id="login-error"
          class="text-body login-error"
          style="display: none;"
        ></div>
      </form>
    </div>
  </main>
{% endblock %}
