{% extends 'nav_page.html' %}

{% load static %}

{% block title %}
  Stocks
{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/finance/stocks_page.css' %}">
{% endblock %}

{% block body %}
  <main class="stocks-container">
    <div>
      <form
        hx-get="{% url 'finance:api-stocks' %}"
        hx-params="symbol"
        hx-target="#stocks-price-plot"
        hx-on::before-request="
          updateById('stocks-error', { text: '', style: { display: 'none' } });
          setEnabledById('stocks-button', false);
        "
        hx-on::after-request="setEnabledById('stocks-button', true);"
        hx-on::response-error="
          updateById('stocks-error', {
            text: event.detail.xhr.responseText,
            style: { display: 'block' },
          });
        "
      >
        <div class="stocks-symbol-entry-container">
          <div class="stocks-symbol-input-container">
            <input
              class="text-body stocks-symbol-input"
              name="symbol"
              type="text"
              placeholder="Ticker"
            >
          </div>
          <div>
            <button
              id="stocks-button"
              class="button-primary submit-button"
              type="submit"
            >
              Submit
            </button>
          </div>
        </div>
        <div class="stocks-loading-indicator-container">
          <div class="block-indicator text-subtitle">
            Loading...
          </div>
        </div>
      </form>
      <div class="stocks-price-plot-container">
        <div
          id="stocks-error"
          class="text-body stocks-error"
          style="display: none;"
        ></div>
        <div id="stocks-price-plot"></div>
      </div>
    </div>
  </main>
{% endblock %}
