<div id="create-post-form" class="post-outer" style="display: none">
  <div class="post-inner">
    <h1 class="text-body create-post-header">New Post</h1>
    <form
      hx-post="{% url 'posts:api-posts' %}"
      hx-target="#create-post-form"
      hx-swap="afterend"
      hx-on::after-request="setCssById('create-post-form', { display: 'none' })"
    >
      {% csrf_token %}
      <div class="create-post-textarea-container">
        <textarea
          id="content-textarea"
          class="text-body create-post-textarea"
          name="content"
          type="text"
          placeholder="Write post here..."
          rows="10"
        ></textarea>
      </div>
      <div class="post-button-row">
        <div class="post-left-button-container">
          <button
            class="button-primary text-body post-button"
            type="submit"
          >
            Create
          </button>
        </div>
        <div class="post-right-button-container">
          <button
            class="button-secondary text-body post-button"
            type="button"
            hx-on:click="setCssById('create-post-form', { display: 'none' })"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>