{% extends 'base_page.html' %}

{% load static %}

{% block title %}
  Create New Post
{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'nav.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'posts/posts.css' %}">
{% endblock %}

{% block body %}
  {% include 'nav_bar.html' %}
  <div>
    <h1>New Post</h1>
    <form hx-post="{% url 'posts:posts-api' %}">
      {% csrf_token %}
      <div>
        <div class="login-label text-caption">
          <label for="content-textarea">Post Content</label>
        </div>
        <div class="content-textarea-container">
          <textarea
            id="content-textarea"
            class="create-post-textarea text-body"
            name="content"
            type="text"
            placeholder="Write post here..."
          ></textarea>
        </div>
      </div>
      <div class="create-post-button-container">
        <button class="create-post-button button-primary" type="submit">Create</button>
      </div>
    </form>
  </div>
{% endblock %}