<div id="post-content-{{ post.id }}" class="post-outer">
  <div class="post-inner">
    <div class="post-content-header text-body">
      <b>{{ post.author_name }}</b> {{ post.created_at_string }}
    </div>
    <div class="post-content-text text-body">
      {{ post.content }}
    </div>
    <div class="post-button-row">
      <div class="post-left-button-container">
        <button
          class="post-button button-secondary"
          type="button"
          hx-get="{% url 'posts:start-edit-post-api' post_id=post.id %}"
          hx-target="#post-content-{{ post.id }}"
          hx-swap="outerHTML"
        >
          Edit
        </button>
      </div>
      <div class="post-right-button-container">
        <button
          class="post-button button-destructive"
          type="button"
          hx-delete="{% url 'posts:posts-api-one' post_id=post.id %}"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          hx-target="#post-content-{{ post.id }}"
          hx-swap="outerHTML"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>