{% extends 'base_page.html' %}

{% load static %}

{% block title %}
  Posts
{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/posts/posts_page.css' %}">
{% endblock %}

{% block body %}
  {% include 'nav_bar.html' %}
  <div class="posts-list-container">
    <div
      id="posts-list"
      class="posts-list-layout"
      hx-get="{% url 'posts:posts-api' %}"
      hx-trigger="load"
    ></div>
  </div>
  <div class="post-create-button-container">
    <button
      class="post-create-button"
      type="button"
      hx-get="{% url 'posts:start-create-post-api' %}"
      hx-target="#create-post-form"
      hx-swap="outerHTML"
    >
      {% include 'icons/plus.svg' %}
    </button>
  </div>
{% endblock %}