{% extends 'nav_page.html' %}

{% load static %}

{% block title %}
  Posts
{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/posts/posts_page.css' %}">
{% endblock %}

{% block body %}
  <main class="post-list-container">
    <div
      class="post-list-layout"
      hx-get="{% url 'posts:api-posts' %}"
      hx-trigger="load"
    ></div>
  </div>
  <div class="post-create-button-container">
    <button
      class="button-fab"
      type="button"
      hx-on:click="setCssById('create-post-form', { display: 'block' })"
    >
      {% include 'icons/plus.svg' %}
    </button>
  </main>
{% endblock %}
