<div id="lights-pattern-step-{{ index }}" class="lights-pattern-step">
  <div
    id="lights-color-{{ index }}"
    class="lights-color"
    style="background-color: black;"
  ></div>
  <div class="lights-color-input-container">
    <input
      class="lights-color-input"
      name="color[]"
      type="range"
      min="0"
      max="255"
      value="0"
      hx-on:input="setCssById('lights-color-{{ index }}', { 'background-color': colorFromHue(+event.target.value) })"
    >
  </div>
  {% if index > 0 %}
    <div class="lights-remove-button-container">
      <button
        class="lights-remove-button"
        hx-on:click="deleteById('lights-pattern-step-{{ index }}')"
      >
        X
      </button>
    </div>
  {% endif %}
</div>
<div id="lights-add-step" class="lights-add-step-button-container">
  <button
    class="button-fab"
    type="button"
    hx-get="{% url 'lights:api-lights-pattern-add'%}?index={{ index }}"
    hx-target="#lights-add-step"
    hx-swap="outerHTML"
  >
    {% include 'icons/plus.svg' %}
  </button>
</div>