{% extends 'nav_page.html' %}

{% load static %}

{% block title %}
  Lights
{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/lights/lights_page.css' %}">
{% endblock %}

{% block body %}
  <div class="lights-container">
    <div
      hx-get="{% url 'lights:api-lights' %}"
      hx-trigger="load, lights-update from:body"
      hx-swap="innerHTML"
    ></div>
    <div class="lights-layout">
      <div class="lights-form-container">
        <form
          hx-post="{% url 'lights:api-lights-pattern-set' %}"
          hx-swap="none"
          hx-on::before-request="
            setEnabledById('lights-set-button', false);
            setEnabledById('lights-clear-button', false);
          "
          hx-on::after-request="
            setEnabledById('lights-set-button', true);
            setEnabledById('lights-clear-button', true);
          "
        >
          {% csrf_token %}
          <div class="lights-main-controls-container">
            <div class="lights-select-container">
              <select class="lights-select">
                <option selected>Color</option>
                <option>Animation</option>
              </select>
            </div>
            <div class="lights-submit-button-container">
              <button
                id="lights-set-button"
                class="button-primary submit-button lights-submit-button"
                type="submit"
              >
                Set
              </button>
              <button
                id="lights-clear-button"
                class="button-primary submit-button lights-submit-button"
                type="button"
                hx-post="{% url 'lights:api-lights-clear' %}"
                hx-target="#lights-pattern"
                hx-swap="innerHTML"
                hx-on::before-request="
                  setEnabledById('lights-set-button', false);
                  setEnabledById('lights-clear-button', false);
                "
                hx-on::after-request="
                  setEnabledById('lights-set-button', true);
                  setEnabledById('lights-clear-button', true);
                "
              >
                Clear
              </button>
            </div>
          </div>
          <div id="lights-pattern">
            {% include 'lights/color_pattern_step_form.html' with index=0 %}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}