{% extends 'nav_page.html' %}

{% load static %}

{% block title %}
  Lights
{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/lights/lights_page.css' %}">
{% endblock %}

{% block body %}
  <div class="lights-container">
    <div class="lights-layout">
      <div class="lights-form-container">
        <form hx-post="{% url 'lights:api-lights-pattern-set' %}" hx-swap="none">
          {% csrf_token %}
          <div class="lights-main-controls-container">
            <div class="lights-select-container">
              <select class="lights-select">
                <option selected>Color</option>
                <option>Animation</option>
              </select>
            </div>
            <div class="lights-submit-button-container">
              <button
                class="lights-submit-button button-primary"
                type="submit"
              >
                Set
              </button>
              <button
                class="lights-submit-button button-primary"
                type="button"
                hx-post="{% url 'lights:api-lights-clear' %}"
                hx-target="#lights-pattern"
                hx-swap="innerHTML"
              >
                Clear
              </button>
            </div>
          </div>
          <div id="lights-pattern">
            {% include 'lights/color_pattern_step_form.html' with index=0 %}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}